# 要儲存的資料

In [ ]:
import numpy as np
import pandas as pd
import json

values = tuple()
valuesList = list()

df = pd.read_excel("./NewData.xlsx",engine='openpyxl')

for n in range(20):
    values =  df.index[n],df['景點名稱'][n],df['景點評分'][n],df['觀看人數'][n],df['景點介紹'][n],df['景點地址'][n].split('(')[0],df['景點評論'][n],df['Tag'][n]
    valuesList.append(values)
    values = tuple()

# 建立資料庫、資料表 & 匯入資料

## <font color=red>第7行要改成自己mysql的密碼</font>

In [ ]:
import pymysql

# 設定資料庫連線資訊
host = 'localhost'
port = 3306
user = 'root'
passwd = 'passwd'
db = 'Travel'
charset = 'utf8mb4'

# 建立連線,要先將database建立好
conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)

# 建立游標
cursor = conn.cursor()

# 建立資料庫 & 資料表
cursor.execute("CREATE DATABASE IF NOT EXISTS Travel")
crsql = """CREATE TABLE IF NOT EXISTS Travel.Viewpoint (
          ID VARCHAR(10) NOT NULL COMMENT 'Viewpoint ID',
          Name VARCHAR(45) NOT NULL COMMENT 'Viewpoint name',
          Score FLOAT(3),
          Viewcont VARCHAR(45),
          Content VARCHAR(1000),
          Address VARCHAR(45),
          Comment VARCHAR(100),
          Tag VARCHAR(10),
          PRIMARY KEY (ID))
        DEFAULT CHARACTER SET = utf8mb4;"""

cursor.execute(crsql)

# 匯入資料
sql = """
INSERT INTO Travel.Viewpoint (ID,Name,Score,Viewcont,Content,Address,Comment,Tag)
VALUES (%s,%s,%s,%s,%s,%s,%s,%s);
"""

# 將指令放進 cursor 物件，並執行
cursor.executemany(sql,valuesList)

# 因 pymysql 預設不會自動 commit，故要記得 commit
conn.commit()
# 關閉連線
cursor.close()
conn.close()